*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
  
body{ 
    font-family: 'Poppins', sans-serif;
} 
  
ul{ 
    list-style: none; 
} 
  
a{ 
    text-decoration: none; 
} 
  
/*styling for nav bar starts here*/

header{ 
    position: fixed;
    top: 0px; 
    background-color: #5f014f; 
    width: 100%; 
    z-index: 1000;
    opacity: 0;
}

.container{ 
    max-width: 65rem; 
    padding: 0 2rem; 
    margin: 0 auto; 
    display: flex; 
    position: relative; 
} 
  
.logo-container{ 
    flex: 1; 
    display: flex; 
    align-items: center; 
} 
  
.nav-btn{ 
    flex: 3; 
    display: flex; 
} 
  
.nav-links{ 
    flex: 2; 
} 
  
.log-sign{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex: 1; 
} 
  
.logo{ 
    color: #fff; 
    font-size: 1.1rem; 
    font-weight: 900; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    line-height: 3rem; 
} 
  
.logo span{ 
    font-weight: 100; 
} 
  
.btn{ 
    display: inline-block; 
    padding: .5rem 1.3rem; 
    font-size: .8rem; 
    font-weight: bold;
    border: 2px solid #fff; 
    border-radius: 2rem; 
    line-height: 1; 
    margin: 0 .2rem; 
    transition: .3s; 
    text-transform: uppercase; 
} 
  
.btn.solid, .btn.transparent:hover{ 
    background-color: #fff; 
    color: #8d126e; 
} 
  
.btn.transparent, .btn.solid:hover{ 
    background-color: transparent;
    color: #fff; 
} 
  
.nav-links > ul{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
  
.nav-link{ 
     position: relative; 
} 
  
.nav-link > a{ 
    line-height: 3rem; 
    color: #fff; 
    padding: 0 .8rem; 
    letter-spacing: 1px; 
    font-size: .80rem; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    transition: .5s; 
} 
  
.nav-link > a > i{ 
    margin-left: .2rem; 
} 
  
.nav-link:hover > a{ 
    transform: scale(1.1); 
} 
  
.dropdown{ 
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 100%; 
    transform: translateY(10px); 
    opacity: 0; 
    pointer-events: none; 
    transition: .5s; 
    z-index: 1000;
} 
  
.dropdown ul{ 
    position: relative; 
} 
  
.dropdown-link > a{ 
    display: flex;
    background:#91087a;
    color: #fff; 
    padding: .5rem .9rem; 
    font-size: .7rem;
    font-weight: bold; 
    letter-spacing: .1rem;
    align-items: center; 
    justify-content: space-between;
    transition: .3s; 
} 
  
.dropdown-link:hover > a{ 
    transform: scale(1.1);
    background: #91087a;
} 
  
.dropdown-link:not(:nth-last-child(2)){ 
    border-bottom: 1px solid #efefef; 
} 
  
.dropdown-link i{ 
    transform: rotate(-90deg); 
} 
  
.arrow{ 
    position: absolute; 
    width: 11px; 
    height: 11px; 
    top: -5.5px; 
    left: 3.5rem; 
    background-color: #91087a; 
    transform: rotate(45deg); 
    cursor: pointer; 
    transition: .3s; 
} 
  
.dropdown-link{ 
    position: relative; 
} 

.active {
    background: rgba(247, 60, 3, .8);
}
  
.nav-link:hover > .dropdown, .dropdown-link:hover > .dropdown{ 
    transform: translate(0, 0); 
    opacity: 1; 
    pointer-events: auto; 
} 
  
.hamburger-menu-container{ 
    flex: 1; 
    display: none; 
    align-items: center; 
    justify-content: flex-end; 
} 
  
.hamburger-menu{ 
    width: 2.5rem; 
    height: 2.5rem; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
} 
  
.hamburger-menu div{ 
    width: 1.6rem; 
    height: 3px; 
    border-radius: 3px; 
    background-color: #fff; 
    position: relative; 
    transition: .5s; 
} 
  
.hamburger-menu div:before, .hamburger-menu div:after{ 
    content: ''; 
    position: absolute; 
    width: inherit; 
    height: inherit; 
    background-color: #fff; 
    border-radius: 3px; 
    transition: .5s; 
} 
  
.hamburger-menu div:before{ 
    transform: translateY(-7px); 
} 
  
.hamburger-menu div:after{ 
    transform: translateY(7px); 
} 
  
#check{ 
    position: absolute; 
    top: 50%; 
    right: 1.5rem; 
    transform: translateY(-50%); 
    width: 2.5rem; 
    height: 2.5rem; 
    z-index: 90000; 
    cursor: pointer; 
    opacity: 0; 
    display: none; 
 } 
  
#check:checked ~ .hamburger-menu-container .hamburger-menu div{ 
    background-color: transparent; 
} 
  
#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{ 
    transform: translateY(0) rotate(-45deg); 
} 
  
#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{ 
    transform: translateY(0) rotate(45deg); 
} 
  
@keyframes animation{ 
    from{ 
        opacity: 0; 
        transform: translateY(15px); 
    } 
    to{ 
        opacity: 1; 
        transform: translateY(0px); 
    } 
} 
  
/*styling for nav bar ends*/

/*styling for sections begins*/

.main-container {
    position: relative;
    text-align: center;
}

#one {
    position: relative;
    background: url(../img/new-background.jpg) top center/ cover;
    background-attachment: fixed;
    padding: 5vh;
    padding-top: 30vh;
    height: 100vh;
    color: #fff;
}

#one h1 {
    margin-bottom: 50px;
}

#one p, #books p {
    margin-bottom: 50px;
}

#one a, #two a {
    background: rgb(247, 60, 3);
    padding: 10px;
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#one a:hover, #two a:hover {
    background: #fff;
    color: rgb(247, 60, 3);
    font-weight: bold;
}

#two {
    position: relative;
    background: #111;
    color: #fff;
    height: 50%;
}

#books {
    padding: 30px;
}

#books h1 {
    margin-bottom: 50px;
}

#books a {
    margin-bottom: 30px;
}

#aside {
    position: relative;
    bottom: 0;
    background: #0e419e;
    min-height: 80px;
    max-height: 170px;
    width: 100%;
    padding: 10px;
}

#aside h3 {
    float: left;
    color: #fff;
    margin-top: 18px;
}

#aside form {
    float: right;
    margin-top: 7px;
}

#aside input {
    padding: 15px;
    outline: none;
    border: none;
}

#aside input[type="email"] {
    width: 250px;
    background: #eee;
    transition: .3s;
}

#aside input[type="button"] {
    background: rgb(247, 60, 3);
    color: #fff;
    transition: .3s;
    letter-spacing: .1rem;
}

#aside input[type="email"]:focus {
    background: #fff;
}

#aside input[type="button"]:hover {
    transform: scale(1.05);
    border-radius: 10px;
}

#three-1 {
    background: url(../img/bg.png)top center / cover;
    background-attachment: fixed;
    color: #fff;
}

#three-1 h1 {
    padding: 20px;
}

#three-1 p {
    padding: 30px;
}

/* .csslider1 {
    height: 150px;
} */

/*media queries begin here*/

@media (max-width: 700px) {
    #aside h3, #aside form {
        float: none;
    }

    #aside {
        display: flex;
        flex-direction: column;
    }

    #aside input[type="email"] {
        width: 100%
    }

    #aside input[type="button"] {
        width: 100%;
    }

    #aside input[type="button"]:hover {
        transform: none;
        border-radius: 0px;
    }
}

@media (max-width: 1005px){
    
    .hamburger-menu-container{ 
        display: flex; 
    } 
  
    #check{ 
        display: block; 
    } 
  
    .nav-btn{ 
        position: fixed; 
        height: calc(100vh - 3rem); 
        top: 3rem; 
        left: 0; 
        width: 100%; 
        background-color: #8d126e; 
        flex-direction: column; 
        align-items: center; 
        justify-content: space-between; 
        overflow-x: hidden; 
        overflow-y: auto; 
        transform: translateX(100%); 
        transition: .65s; 
        z-index: 1000000
    } 
  
    #check:checked ~ .nav-btn{ 
        transform: translateX(0); 
    } 
  
    #check:checked ~ .nav-btn .nav-link, #check:checked ~ .nav-btn .log-sign{ 
        animation: animation .5s ease forwards var(--i); 
    } 
  
    .nav-links{ 
        flex: initial; 
        width: 100%;
    } 
  
    .nav-links > ul{ 
        flex-direction: column; 
    } 
  
    .nav-link{ 
        width: 100%; 
        opacity: 1; 
        transform: translateY(15px); 
    } 
  
    .nav-link > a{ 
        line-height: 1; 
        padding: 1.6rem 2rem; 
     } 
  
     .nav-link:hover > a{ 
        transform: scale(1); 
        background-color: #770d65; 
    } 
  
    .dropdown, .dropdown.second{ 
        position: initial; 
        top: initial; 
        left: initial; 
        transform: initial; 
        opacity: 1; 
        pointer-events: auto; 
        width: 100%; 
        padding: 0; 
        background-color: #b61f9d; 
        display: none; 
    } 
      
    .nav-link:hover > .dropdown, .dropdown-link:hover > .dropdown{ 
        display: block; 
    } 
  
    .nav-link:hover > a > i, .dropdown-link:hover > a > i{ 
        transform: rotate(360deg); 
    } 
  
    .dropdown-link > a{ 
        background-color: transparent; 
        color: #fff; 
        padding: 1.2rem 2rem; 
        line-height: 1; 
    } 
  
    .dropdown-link:not(:nth-last-child(2)){ 
        border-bottom: none; 
    } 
  
    .arrow{ 
        z-index: 1; 
        background-color: #8d126e; 
        left: 10%; 
        transform: scale(1.1) rotate(45deg); 
        transition: .5s; 
    } 
  
    .nav-link:hover .arrow{ 
        background-color: #770d65; 
    } 
  
    .dropdown .dropdown .arrow{ 
        display: none; 
    } 
  
    .dropdown-link:hover > a{ 
        background-color: #830c65; 
    } 
  
    .dropdown-link:first-child:hover ~ .arrow{ 
        background-color: #830c65; 
    } 
  
    .nav-link > a > i{ 
        font-size: 1.1rem; 
        transform: rotate(-90deg); 
        transition: .7s; 
    } 
  
    .dropdown i{ 
        font-size: 1rem; 
        transition: .7s; 
    } 

    .log-sign{ 
        flex: initial; 
        width: 100%; 
        padding: 1.5rem 1.9rem; 
        justify-content: flex-start; 
        opacity: 1; 
        transform: translateY(15px); 
    } 
} 